* {
  padding: 0;
  margin: 0;
}

body {
  /* color: red; */
}

.signup_wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header_container {
  background-color: #55c500;
  padding: 4px 8px;
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.container {
  margin: 0 auto;
  width: 70%;
  flex: 1;
}

.container h2 {
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}

footer {
  margin-top: auto;
  background-color: #000;
  padding: 20px 0 20px 15px;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  height: auto;
  color: #fff;
  flex: 1;
}

.signup_form {
  width: 100%;
  border-top: solid 1px #000;
  margin: 20px 0 50px 0;
  padding: 20px 0 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.signup_form_left p {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #000;
  font-size: 0.9rem;
  color: rgb(0 0 0 / 38%);
  width: 100%;
}

.signup_form_right input {
  width: 80%;
  margin: 0 auto;
  padding: 8px 0 8px 5px;
  height: 30px;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
  border: 1px solid rgb(0 0 0 / 38%);
}
.signup_form_left {
  width: 100%;
  padding-right: 8px;
  margin: 0;
  border-right: 1px solid #000;
}

.signup_form_right {
  width: 100%;
  padding: 0;
  margin: 0;
}

.form_container {
  margin: 30px 0;
}

.resister_button {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #000;
  display: block;
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: #55c500;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown p,
.markdown pre,
.markdown ul,
.markdown table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown table {
  border-collapse: separate;
  border-spacing: 0 0;
}

.markdown table th,
.markdown table td {
  padding: 6px 12px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.markdown table tr:first-child th {
  border-top: 1px solid #eeeeee;
  background-color: #333;
}

.markdown table tr th:first-child,
.markdown table tr td:first-child {
  border-left: 1px solid #eeeeee;
}

.markdown table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

.markdown table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

.markdown table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.markdown table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
